@font-face {
    font-family: open-sans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: open-sans-italic;
    src: url("../fonts/OpenSans-Italic.ttf");
}

p {
  letter-spacing: 0.7px;
}

* {
  -webkit-font-smoothing:antialiased;
}

body {
  font-family: open-sans;
  background-color: #f5f5f5;
}

header {
  height: 100vh;
  background-image: url(../img/background.jpg);
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dark-cover {
  background-color: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

nav ul {
  float: right;
  margin-top: 35px;
  margin-right: 50px;
}

nav li {
  display: inline-block;
  margin: 0 25px;
  font-size: 16px;
  text-transform: uppercase;
}

nav a {
  letter-spacing: .8px;
  color: #ddd;
  opacity: .8;
  border-bottom: 2px solid rgba(200,255,255, 0);
  webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 0 5px 5px 5px;
}

nav a:hover{
  color: #aff;
  border-bottom: 2px solid rgba(200,255,255, 1);
}

.say-hi {
  display: inline-block;
  margin: 0 auto;
  width: 390px;
  height: 100px;
}

.say-hi span {
  font-family: open-sans-italic;
  font-weight: bold;
  border-bottom: 2px solid #eee;
}

.hi-there {
  font-size: 30px;
  color: #eee;
  text-align: center;
  margin: 10px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 390px;
  height: 40px;
}

.animation-class1{
  -webkit-animation: type 1.7s steps(60, end);
  animation: type 1.7s steps(60, end);
}
.animation-class2 {
  -webkit-animation: type2 3.4s steps(60, end);
  animation: type2 3.4s steps(60, end);
}

.hi-there:nth-child(2){
  width: 370px;
}

.my-pic {
  opacity: .0;
  webkit-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  height: 105px;
  margin-top: 30px;
}

.profile-pic {
  background-image: url(../img/me.jpg);
  height: 102px;
  width: 102px;
  background-position: top;
  background-size: 195%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
}

@-webkit-keyframes type{
  from { width: 0; }
}

@keyframes type{
  from { width: 0; }
}

@-webkit-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}


.my-work {
  margin-top: 50px;
}

.my-work h1 {
  text-align: center;
  text-transform: uppercase;
  color: #767;
}

.works {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.works li {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 29%;
  flex-basis: 29%;
  margin: 20px;
  height: 20vw;
  color:red;
  border: 1px solid #ded;
  border-radius: 5px;
  position: relative!important;
  webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.works a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}


.work-info {
  position: absolute!important;
  color: #567;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  opacity: .0;
  webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: rgba(214, 230, 230, .5);
}

.work-info:hover {
  opacity: 1;
}

.work-info p {
  margin: 7px 0;
}

.work-img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: .9;
}

.works li:hover .work-img {
  height: 12vw;
  width: 50%;
  opacity: 0;
}

.uncoveredboss {
  background-image: url(../img/uncoveredboss-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.terranuova {
  background-image: url(../img/terranuova-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.stellar {
  background-image: url(../img/stellar-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dgs {
  background-image: url(../img/digital-services.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lunchmenu {
  background-image: url(../img/lunch-min.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mate-tours {
  background-image: url(../img/matetour.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me {
  border-top: 2px solid #ccc;
  margin: 50px 0;
}

.about-me h1 {
  text-align: center;
  text-transform: uppercase;
  color: #566;
  margin-top: 50px;
}

.my-photo {
  margin-top: 50px;
  height: 115px;
  display: flex;
  align-items: center;
}

.about-me .profile-pic {
  display: block;
  webkit-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.about-me .profile-pic:hover {
  padding: 5px;
}

.profile-pic-outer {
  margin: 0 auto;
  border: 1px double #565;
  border-radius: 50%;
  padding: 2px;
}

.text-about-me {
  margin-top: 50px;
}

.text-about-me p {
  width: 600px;
  color: #445;
  letter-spacing: .8px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}

footer {
  background-color: #e5f1f2;
  display: flex;
  border-top: 1px solid #add;
}

footer ul {
  display: inline-block;
  margin: 5px auto;
  width: 550px;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer a {
  color: #444;
  padding: 3px 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

footer a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.mail {
  cursor: pointer;
}

.js-copytextarea {
  position: absolute;
  opacity: 0;
  left: 0px;
  z-index: -1;
}

.copy-email {
  position: absolute;
  width: 180px;
  top: 0px;
  left: 50px;
}


.copy-info {
  font-size: 13px;
  opacity: .5;
  display: inline-block;
  padding: 3px;
  border-bottom: 1px solid #ada;
}

.copy-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(212,232,212, 1);
  margin: 0 auto;
}




@media screen and (max-width: 999px) {
  nav {
    width: 100%;
  }

  nav ul {
    float: none;
    margin: 0 auto;
    margin-top: 30px;
  }

  nav ul li {
    margin: 0 18px;
  }

  .work-info {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  header {
    background-image: none;
    background-color: #979daf;
  }

  .works li {
    -webkit-flex-basis: 51%;
    -ms-flex-preferred-size: 51%;
    flex-basis: 51%;
    height: 39vw;
  }

  .work-img {
    opacity: .4;
  }

  .works li:hover .work-img {
    opacity: .4;
    height: 39vw;
    width: 100%;
  }

  .work-info {
    background: none;
    opacity: 1;
    font-size: 25px;
    text-shadow: 0px 1px #dee;
  }

  .text-about-me p {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .works {
    width: 96%;
  }

  .work-info {
    font-size: 20px;
  }

  .works li {
    height: 41vw;
  }

  .works li:hover .work-img {
    height: 41vw;
  }

  .copy-email {
    display: none;
    left: 10px
  }

  .copy-arrow {
    display: none;
  }

  .nav li {
    font-size: 16px;
    margin: 0 15px;
  }

  textarea {
    pointer-events: none;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 25px;
  }

  nav ul li {
    display: block;
    margin: 22px 0;
    font-size: 14px
  }

  .say-hi {
    width: 280px;
    margin-top: 45px;
  }

  .hi-there {
    font-size: 22px;
    width: 280px;
    height: 33px;
  }

  .hi-there:nth-child(2) {
    width: 280px;
  }

  .profile-pic {
    height: 80px;
    width: 80px;
    background-size: 180%;
  }

  .work-info {
    font-size: 13px;
  }

  footer a {
    font-size: 14px;
  }

  .copy-email {
    text-align: left;
  }
}
