.container-full {
    width: 100%;
    margin: 0 auto;
}

.container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}


/*logo*/

.navbar-header .navbar-brand {
    height: inherit;
    padding: inherit;
}

.language .geo,
.language .eng,
.language .rus {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 22px;
}

.language .geo {
    background: url("../img/Geo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language .eng {
    background: url("../img/UK.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language .rus {
    background: url("../img/Rus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media only screen and (max-width: 995px) {
    .language .geo,
    .language .eng,
    .language .rus {
        margin-right: 0;
        margin-top: 0;
    }
}
@media only screen and (max-width: 768px) {
    .language .geo,
    .language .eng,
    .language .rus {
        float: none;
    }
}


/*center navigation*/

.navbar,
.navbar-default {
    z-index: 1;
    width: inherit;
    opacity: 0.9;
}

.navbar-nav {
    padding: 10px 0;
}

.collapsed,
.navbar-toggle {
    margin: 22px 0;
}

.navbar {
    margin-bottom: 0;
}

#lightgallery img {
    padding: 1px !important;
    min-width: 220px;
    margin: 0 auto;
    border-radius: 3px;
}

#lightgallery img:hover {
    transform: scale(0.95);
}

@media only screen and (max-width: 486px) {
    #lightgallery img {
        width: 100%;
    }
}

.album-galery-margin {
    margin-bottom: 30px;
}


/*Footer*/

footer {
    margin-top: 50px;
    background-color: #d0edd0;
    border-top: 2px solid #5a8;
    bottom: 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0 20px 0;
}

footer li {
    display: inline-block;
    padding: 5px 0;
}

.contact-us li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

footer li:hover {
  opacity: .8;
}
