/*logo*/

.container-full {
    width: 100%;
    margin: 0 auto;
}

.container {
    position: relative;
    margin: 0 auto;
}


/*logo*/

.navbar-header .navbar-brand {
    height: inherit;
    padding: inherit;
}

.language .geo,
.language .eng,
.language .rus {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 22px;
}

.language .geo {
    background: url("../img/Geo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language .eng {
    background: url("../img/UK.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language .rus {
    background: url("../img/Rus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media only screen and (max-width: 995px) {
    .language .geo,
    .language .eng,
    .language .rus {
        margin-right: 0;
        margin-top: 0;
    }
}
@media only screen and (max-width: 768px) {
    .language .geo,
    .language .eng,
    .language .rus {
        float: none;
    }
}

/*center navigation*/

.navbar,
.navbar-default {
    /*padding: 15px;*/
    position: absolute;
    z-index: 1;
    width: inherit;
    /*height: inherit;*/
    opacity: 0.9;
}

.navbar-nav {
    padding: 10px 0;
}

.collapsed,
.navbar-toggle {
    margin: 22px 0;
}

.navbar {
    margin-bottom: 0;
}

.contact-background {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/main.jpg");
    background-size: cover;
    position: relative;
    float: left;
    height: 80vh;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
}

.container a {
    text-decoration: none;
}


/*text style*/

.contactus-form .contact-button {
    margin-top: 25px;
    float: right;
}

.contactus-social ul {
    font-style: italic;
    list-style-type: none;
    margin-top: 30px;
    display: inline-block;
    text-align: left;
}

.contactus-social ul li {
    margin-bottom: 50px;
}

.contactus-social ul li img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 990px) {
       .contactus-social ul li {
        margin-bottom: 20px;
    }
    .contactus-social ul li img {
        width: 35px;
        height: 35px;
    }
    .contactus-social ul:nth-child(2){
        margin-top: 0;
    }
    .contactus-social ul li:nth-child(3) {
        margin-bottom: 10px;
    }


}

@media only screen and (max-width: 550px) {
    .contactus-social ul li {
        margin-bottom: 20px;
    }
    .contactus-social ul li img {
        width: 25px;
        height: 25px;
    }
}
    .contactus-social a {
        /*line-height: 2em;*/
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
    }


/*Footer*/

footer {
    margin-top: 50px;
    background-color: #d0edd0;
    border-top: 2px solid #5a8;
    bottom: 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0 20px 0;
}

footer li {
    display: inline-block;
    padding: 5px 0;
}

.contact-us li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

footer li:hover {
  opacity: .8;
}
