.container-full {
    width: 100%;
    margin: 0 auto;
}

.container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.tours-container {
  margin-top: 40px;
  border-bottom: 1px solid #ccc;
}

.language .geo,
.language .eng,
.language .rus {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 22px;
}

.language .geo {
    background: url("../img/Geo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language .eng {
    background: url("../img/UK.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language .rus {
    background: url("../img/Rus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media only screen and (max-width: 995px) {
    .language .geo,
    .language .eng,
    .language .rus {
        margin-right: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .language .geo,
    .language .eng,
    .language .rus {
        float: none;
    }
}

.navbar-header .navbar-brand {
    height: inherit;
    padding: inherit;
}


.navbar,
.navbar-default {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    opacity: 0.7;
}



.navbar-nav {
    padding-top: 13px;
}


.navbar-nav a:hover {
  color: #000!important;
}


.collapsed,
.navbar-toggle {
    margin: 22px 0;
}

.navbar {
    margin-bottom: 0;
}

.owl-theme .owl-controls .owl-buttons div {
    background: none;
}

.tour-thumbnail {
    position: relative;
    height: 360px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    border: 4px double gray;
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.main-tour-container {
    position: relative;
}

.tours-header {
  margin: 30px 0;
}

.tour-thumbnail::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.tour-thumbnail:hover::before {
    background: rgba(0, 0, 0, .5);
}

.tour-thumbnail:hover .tour-caption-text {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tour-thumbnail:hover .tour-caption-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (max-width: 550px) {
    .tour-thumbnail .tour-caption-text {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .tour-thumbnail .tour-caption-title {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .tour-thumbnail {
        position: relative;
        border: 4px solid gray;
    }
    .tour-caption-title {
        padding: 0 0 15px !important;
    }
    .tour-caption-content {
        display: none;
    }
}

.tour-caption-content,
.tour-caption-title {
    text-align: left;
}

.main-tour-thumbnail {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: 360px!important;
}

.tour-thumbnail .caption {
    color: #fff;
    font-style: italic;
}

.tour-caption-content {
    font-size: 16px;
}

.tour-caption-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out
}

.tour-caption-title {
    margin: 0;
    padding: 0 0 12px;
    -webkit-transform: translateY( -webkit-calc(-100% - 10px));
    transform: translateY( calc(-100% - 10px));
    transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
}



.main-trip-container {
    position: relative;
}

.trip-caption-text {
    width: 97.8%;
    position: absolute;
    bottom: 4px;
    z-index: 999;
    color: #fff !important;
    text-align: left;
    color: white;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: black;
}

.trip-thumbnail {
    position: relative;
    border: 4px double gray;
}

.trip-thumbnail:hover {
  opacity: .8;
}

@media screen and (max-width: 990px) {
    .trip-caption-text {
        width: 96.8%;
    }
}

@media screen and (max-width: 425px) {
    .main-trip-container {
        width: 100%;
    }
}



footer {
    margin-top: 50px;
    background-color: #d0edd0;
    border-top: 2px solid #5a8;
    bottom: 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0 20px 0;
}

footer li {
    display: inline-block;
    padding: 5px 0;
}

.contact-us li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

footer li:hover {
  opacity: .8;
}
