@font-face {
    font-family: open-sans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

p {
  letter-spacing: 0.7px;
}

body {
  font-family: open-sans;
}

header {
  height: 100vh;
  min-height: 600px;
  background-image: url('../img/terranuova.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;;
}

.dark {
  background-color: rgba(11,11,11, .1);
  height: 100%;
  display: flex;
  flex-direction: column;
}


.navbar {
  position: inherit;
  flex: 1;
}

.navbar-nav {
  margin: 0 auto!important;

}

.navbar-inverse {
  background: none;
  border: none;
}

.navbar-toggle {
  border-color: #75a9d9!important;
}

.navbar-toggle:hover {
  background-color: #ccf!important;
}

.navbar-toggle .icon-bar {
  background-color: #75a9d9!important
}

.navbar-collapse {
  margin-top: 10px;
}

.navbar .container {
  width: 90%;
  position: relative;
  margin-top: 15px;
}

.contact-join-btn button {
  background: inherit;
  color: #aef;
  margin-right: 5px;
  border-radius: 7px;
}

.navbar-brand {
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand img {
  transform: rotate(45deg);
  border-radius: 10px;
}

.navbar-brand span{
  font-family: open-sans-bold;
  color: #098DEB;
  font-size: 24px;
  margin-left: 10px;
}


.contact-join-btn button:hover {
  background-color: #dff;
}

.navbar-inverse .navbar-nav li a {
    color: #9edefd;
    padding: 6px 15px;
    font-size: 16px;
}

.introducing {
  flex: 1;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin: 110px 0;
  color: #dff;
}

.introducing h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-family: open-sans-bold;
  letter-spacing: 1px;
}


.introducing span {
  margin-right: 3px;
}

.introducing-buttons button {
  background: inherit;
  color: #dff;
  letter-spacing: 0.7px;
  font-weight: 600;
  border-color: #fff;
}


.introducing-buttons button:hover {
  background-color: #dee
}

.introducing-buttons button:first-child {
  margin-right: 20px;
}

.scroll-down {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;;
  margin-bottom: 30px;
  flex-direction: column;
  color: #dff;
}

.scroll-down .glyphicon-arrow-down {
  margin-bottom: 15px;
}





/*----------------------short-intro-----------------------*/

.short-intro {
  min-height: 90vh;
}

.player {
  background-image: url("../img/player.png");
  background-position: center center;
  background-size: 70vw;
  background-repeat: no-repeat;
  background-color: #98aaaf;
  height: 90vh;
}

.intro {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(190,190,190, .4);
}


.intro h3 {
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 1px;
}

.intro p {
  line-height: 20px;
  margin-bottom: 25px;
  opacity: .8;
  letter-spacing: 0.7px;
}


.intro button {
  margin-top: 15px;
  padding: 10px!important;
  color: #0879ea;
}

.intro button span {
  margin-right: 5px;
}

/*-----------------features---------------*/

.features-title {
  margin-top: 50px;
  text-align: center;
}

.features-title h3 {
  text-transform: capitalize;
  font-weight: bold;
}

.features-title p {
  margin-top: 20px;
}

.all-features {
  margin-top: 50px;
}

.all-features h4 {
  text-transform: capitalize;
  font-weight: bold;
}

.all-features li {
  text-align: center;
  height: 300px;
  margin-bottom: 20px;
}

.all-features li * {
  margin-top: 30px;
}


.all-features img {
  height: 70px;
}

.all-features li p {
  line-height: 19px;
}

/*----------------------crew----------------------------*/

.crew {
  border-top: 1px solid #eee;
}

.crew-title {
  margin-top: 50px;
}

.crew-title h2 {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.crew-title p {
  text-align: center;
  opacity: .8;
  margin-top: 20px;
}

.crewers {
  margin-top: 50px;
}

.crewers ul {
  display: flex;
  flex-wrap: wrap;
}

.crewers ul li {
  flex: 1;
  height: 75vh;
  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.crewers ul li:hover {
  flex: 1.2;
}

.crewers ul li:hover .crewer-info {
  opacity: 1;
}

.crewer-cover {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background-color: rgba(11,11,11, 0.3);
}


.crewer-1 {
  background-image: url("../img/brad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.crewer-2 {
  background-image: url("../img/candyce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.crewer-3 {
  background-image: url("../img/timberlake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.crewer-4 {
  background-image: url("../img/rosie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.crewer-cover {
  background-color: rgba(200,200,200, 0.58);
  cursor: pointer;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.crewer-cover:hover {
  background: -webkit-linear-gradient(rgba(100,100,100, .3), rgba(100,100,100, .3), rgba(100,100,100, .4), rgba(100,100,100, .6),rgba(100,100,100, .6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(100,100,100, .3), rgba(100,100,100, .3), rgba(100,100,100, .4), rgba(100,100,100, .6),rgba(100,100,100, .6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(100,100,100, .3), rgba(100,100,100, .3), rgba(100,100,100, .4), rgba(100,100,100, .6),rgba(100,100,100, .6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(100,100,100, .3), rgba(100,100,100, .3), rgba(100,100,100, .4), rgba(100,100,100, .6),rgba(100,100,100, .6)); /* Standard syntax (must be last) */
}

.crewer-info {
  height: 200px;
  margin-bottom: 35px;
  opacity: 0;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.crewer-info h3 {
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: capitalize;
}

.position {
  margin-top: 15px;
  opacity: .8;
}

.about-crewer {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  line-height: 19px;
  opacity: .8;
}

.crewer-info button {
  margin-top: 30px;
  background: inherit;
  color: #fff;
}


/*=========================== awesome work =========================*/

.work-samples {
  background: rgb(183,176,163);
  min-height: 100vh;
  min-height: 745px;
  color: #fff;
  background: -moz-linear-gradient(-45deg, rgba(19,99,201, .99) 0%, rgba(70,109,175, 1)20%, rgba(120,100,170, 1) 40%, rgba(150,110,150, 1) 60%, rgba(200,120,90, 1) 80% );
  background: -webkit-linear-gradient(-45deg, rgba192,99,201, .99) 0%, rgba(70,109,175, 1)20%, rgba(120,100,170, 1) 40%, rgba(150,110,150, 1) 60%, rgba(200,120,90, 1) 80% );
  background: linear-gradient(135deg, rgba(19,99,201, .991) 0%,rgba(70,109,175, 1)20%, rgba(120,100,170, 1) 40%, rgba(150,110,150, 1) 60%, rgba(200,120,90, 1) 80% );
}

.work-samples-header {
  text-align: center;
  padding-top: 70px
}

.work-samples-header h2 {
  text-transform: capitalize;
  font-family: open-sans-bold;
  font-weight: 700;
}

.work-samples-header p {
  margin-top: 20px;
  opacity: .7;
}

.work-types-menu {
  margin: 0 auto;
  float: none;
  text-align: center;
  margin-top: 45px;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(222,222,222, .6);
  padding: 0px;
}

.work-types-menu li {
  margin: 0 20px;
  display: inline-block;
  padding-bottom: 23px;
}

.work-types-menu a {
  padding: 8px 2.9vw 19px;
  font-weight: bold;
  opacity: .7;
}


.work-types-menu a:hover {
  border-bottom: 5px solid #fff;
  opacity: 1;
}

.work-slider-body {
  margin-top: 60px;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
}

.right-number {
  background: inherit;
  border: 1px solid #eee;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 45px;
  width: 45px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


 .left-number {
  background-color: #111;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 64px;
  width: 64px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 22px;
}


.slider-numbers span {
  font-family: open-sans-bold;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.control .glyphicon {
  font-size: 20px;
  cursor: pointer;
}

.control .glyphicon-arrow-left {
  opacity: .7;
  cursor: auto;
}

.about-work {
  margin-top: 50px;
}

.about-work * {
  margin-bottom: 30px;
}

.about-work h1 {
  font-family: open-sans-bold;
  text-transform: capitalize;;
}

.about-work p {
  opacity: .6;
}

.about-work button {
  background: inherit;
  color: #eee;
  padding: 8px 12px;
  border-radius: 7px;
  text-transform: capitalize;
  width: 150px;
  margin-bottom: 0px;
}

.about-work button:first-child {
  margin-right: 10px;
  margin-bottom: 15px;
}

.onClick-navigate {
  display: flex;
  align-items: center;
}

.onClick-navigate img {
  height: 30px;
  margin-bottom: 0;
  margin-right: 10px;
}

.onClick-navigate p {
  display: inline-block;
  margin-bottom: 0;
}

.work-slider {
  overflow: hidden;
}

.work-slider ul {
  width: 1900px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.work-slider li {
  flex: 1;
  height: 420px;
  margin-left: 20px;
}

.work-slider img {
  width: 100%;
  height: 100%;
}

/*========================= behind scenes =================*/

.behind-scenes {
  background-color: #f5f5f5;
}

.behind-scenes-header {
  text-align: center;
  padding-top: 60px;
}

.behind-scenes-header h3 {
  text-transform: capitalize;
  font-family: open-sans-bold;
  font-weight: bold;
}

.behind-scenes-header p {
  margin-top: 30px;
}

.company-post {
  height: 50vh;
  margin: 60px 0;
  min-height: 385px
}

.build-products {
  height: 100%;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}

.build-products-img {
  background-image: url(../img/table.jpg);
  height: 100%;
  background-position: center;
}

.build-products-body {
  padding: 0 50px;
  background-color: #fff;
  height: 100%;
}

.products-title {
  font-family: open-sans-bold;
  line-height: 20px;
  margin-top: 40px;
}

.post-publisher {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.user-img {
  height: 40px;
  width: 40px;
  background-size: 210%;
  background-position: center 0px;
  border-radius: 50%;
  display: inline-block;
}

.user-morgan {
  background-image: url(../img/morgan.jpg);
}

.user {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;line-height: 16px;
}

.user p:first-child {
  opacity: .9;
  font-weight: 200;
}

.post-text p {
  margin-bottom: 30px;
  opacity: .8;
}

.read-full-article {
  color: #6ae;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.read-full-article span {
  margin-left: 10px;
}

.read-full-article:hover {
  color: #7bf;
  opacity: .8;
}

.productive  {
  background-color: #fff;
  margin-left: 20px;
  margin-right: -20px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
}

.productive-img {
  background-image: url(../img/office-laptop.jpg);
  background-size: cover;
  width: 100%;
  height: 45%;
}

.products-text {
  padding: 0 50px;
}

.products-text .products-title {
  margin-top: 20px;
}

.user-megan {
  background-image: url(../img/megan.jpg);
  background-position: -7px -3px;
  background-size: 150%;
}

.subscribe {
  border-top: 1px solid rgba(150,100,160, .7);
  border-bottom: 1px solid rgba(150,100,160, .7);
  background: -webkit-linear-gradient(left, rgba(150,100,160, .2), rgba(150,100,160, .7),rgba(150,100,160, .2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(150,100,160, .2), rgba(150,100,160, .7),rgba(150,100,160, .2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(150,100,160, .2), rgba(150,100,160, .7),rgba(150,100,160, .2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(150,100,160, .2), rgba(150,100,160, .7),rgba(150,100,160, .2)); /* Standard syntax (must be last) */
  text-align: center;
  padding: 15px 0;
}

.subscribe * {
  display: inline-block;
}

.subscribe h5 {
  color: #eee;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 30px;
}

.subscribe input {
  margin-right: 30px;
  padding: 4px 10px;
  font-size: 17px;
  float: none;
  background: inherit;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #eee;
  outline: none;
}

.subscribe input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eee;
}
.subscribe input::-moz-placeholder { /* Firefox 19+ */
  color: #eee;
}
.subscribe input:-ms-input-placeholder { /* IE 10+ */
  color: #eee;
}
.subscribe input:-moz-placeholder { /* Firefox 18- */
  color: #eee;
}

.subscribe button {
  padding: 5px 12px;
  opacity: .8;
}

.subscribe button:hover {
  background-color: inherit;
  border: 1px solid #eee;
}

/*===================footer===================*/

footer {
  background-color: #121212;

}

.footer-content {
  margin-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #777;
}

.footer-logo {
  display: inline-block;
}

.footer-logo img {
  transform: rotate(45deg);
  border-radius: 10px;
}

.footer-content ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.footer-content ul li {
  display: inline-block;
  margin: 0 15px;
}

.footer-content ul li a:hover {
  color: #5989b9!important;
}

.social {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 10%;
}

.social img {
  height: 24px;
  width: 24px;
  margin: 0 8px;
  padding: 4px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.social a:hover {
  opacity: .8;
}

.copyright {
  font-size: 13px;
  letter-spacing: .5;
  text-align: center;
  margin: 40px 0 20px;
}





@media (max-width: 1040px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      border-color: #098DEB!important;
      background-color: rgba(23,128,172, .8);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }

  .work-types-menu {
    padding-bottom: 7px;
  }

  .work-types-menu li {
    padding-bottom: 15px;
  }

  .work-types-menu a:hover  {
    border-width: 3px;
  }

  .navbar-toggle:focus {
    background: inherit!important;
  }
  .navbar-nav>li {
      float: none;
      text-align: center;
  }
  .navbar-nav>li>a {
      padding: 10px 20px;
      display: inline-block;
  }

  .collapse.in{
      display:block !important;
  }

  .contact-join-btn {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1041px) {
  .navbar-collapse.collapse {
    display: flex!important;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .crewers ul li {
    min-width: 50%;
  }
}

@media screen and (max-width: 991px) {

  .company-post {
    height: 63vh;
  }

  .company-post p {
    line-height: 14px;
    letter-spacing: .5px;
  }

  .company-post h4 {
    line-height: 17px;
  }

  .social {
    display: block;
    margin: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {

  .player {
    width: 100%;
    background-size: cover;
  }

  .intro {
    width: 100%!important;
    height: 50vw;
    margin-bottom: 20px;
  }

  .intro button {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .intro-text {
    width: 70%;
    margin: 0 auto;
  }

  .all-features li {
    width: 70%;
    margin: 0 auto;
  }

  .work-samples {
    padding-bottom: 30px;
  }

  .work-types-menu li {
    margin: 0 10px;
  }

  .work-types-menu li a {
    padding: 8px 2.5vw 19px;
    border: none;
  }

  .slider-info {
    text-align: center;
  }

  .control {
    display: none;
  }

  .about-work button:first-child {
    margin-bottom: 0px;
  }

  .onClick-navigate {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .company-post {
    height: auto;
  }

  .build-products {
    height: 63vh;
    min-height: 390px;
  }

  .productive {
    height: 35vh;
    margin-left: 0px;
    width: 100%;
    margin-top: 20px;
    min-height: 200px;
  }

  .productive-img {
    height: 100%;
    width: 42%;
    display: inline-block;
  }

  .products-text {
    display: inline-block;
    width: 54%;
    height: 100%;
    position: absolute;
  }

  .products-text .products-title h4 {
    margin-top: 30px!important;
  }

  .post-text p {
    line-height: 13px;
    margin-bottom: 20px;
  }

  .build-products-body {
    padding: 0 20px;
  }
}
































input
