
.container {
  max-width: 1080px!important;
  height: 100vh;
  min-height: 700px;
  position: relative;
}

.head-div {
  background-image: url('../img/space.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  height: 400px;
  width: 100%;

}

.navbar {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
}

.inner-circle {
  height: 40px;
  width: 40px;
  border: 8px solid #fff;
  border-radius: 50%;
}

.outer-circle {
  padding: 3px;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo h2 {
  color: #fff;
  margin-left: 15px;
  display: inline-block;
}

.menu {
  margin-left: auto;
  color: #fff;
}

.menu ul {
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .menu li {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.menu a {
  opacity: 0.77;
}


.menu a:hover {
  opacity: 1;
  text-shadow: 2px 1px #676767;
}


.menu ul li:last-child {
  border: 1px solid rgba(255,255,255, .5);
  padding: 12px 17px;
  border-radius: 20px;
  height: 42px;
  width: 115px;
  text-align: center;
}

.menu ul li:last-child:hover {
  background-color: #777;
  cursor: pointer;
  border-width: 1px solid rgba(255,255,255, .1);
}

.toggle-button {
  height: 30px;
  width: 30px;
  opacity: 0.7;
  display: none;

}

.toggle-line {
  margin: 5px 0;
  border: 1px solid #899;
  height: 5px;
  width: 30px;
  background-color: #fff;
}

.toggle-button:hover {
  opacity: 0.95;
  cursor: pointer;
}


.thisIs-stellar {
  color: #ddd;
  text-align: center;
  margin-top: calc(50vh - 160px);
}

.thisIs-stellar h1 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-align: center;
  font-size: 49px;
}

.thisIs-stellar p {
  margin-bottom: 20px;
}

.thisIs-stellar button {
  background-color: transparent;
  color: #fff;
  border-width: 1px;
  padding: 20px 25px;
  font-size: 15px!important;
  border-radius: 30px;
  width: 200px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.learn-more {
  margin-right: 10px;
}

.thisIs-stellar button span {
  font-size: 15px;
  position: inherit;
  margin-right: 5px;
  font-size: 13px;
}

.thisIs-stellar button:hover {
  border-color: #555;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  /* For Safari 5.1 to 6.0 */
  background-color: rgba(49,51,51, .4);
  /* For Opera 11.1 to 12.0 */
  background-color: rgba(49,51,51, .4);
  /* For Fx 3.6 to 15 */
  background-color: rgba(49,51,51, .4);
  /* Standard syntax */
  background-color: rgba(49,51,51, .4);
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background:rgba(33,33,33, .8);}
    to {background: rgba(49,51,51, .4);}
}
/* Standard syntax */
@keyframes example {
  from {background:rgba(33,33,33, .8);}
  to {background: rgba(49,51,51, .4);}

}

.scroll-down {
  text-align: center;
  bottom: 0;
  color: #fff;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 30px);
}

.arrow-down {
  opacity: 0.77;
  margin-bottom: 20px;
  font-size: 11px;
  height: 30px;
  width: 20px;
  border: 1px solid #fff;
  padding-top: 7px;
  border-radius: 5px;
}

/*------------------------------------page 2------------------------*/
.about {
  margin-top: 50px;
  min-height: 100vh;

}

.about .container {
  height: auto;
}

.about-stellar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-stellar h1 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 40px;
}

.more-about {
  opacity: 0.8;
  font-size: 17px;
  padding: 0 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(12,12,12, .4);
}

.about img {
  height: 60px;
  width: 60px;
}

.stellar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stellar-skills {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
    margin: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;;
    height: 250px;
    min-width: 205px;
}

.stellar-skills h2 {
  text-transform: capitalize;
}

.stellar-skills p {
  line-height: 16px;
  letter-spacing: 0.6px;
  height: 100px;
  opacity: .6;

}


/*-------------------page 3 (slider)------------------*/
.slider {
  height: 100vh;
  background-color: pink;
  overflow: hidden;
}
.slider ul {
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider ul li {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;

}



.slider-img img {
  height: 100vh;
  width: 100%;
  position: relative;
  /*z-index: -1;*/
}

.slider .left-side, .slider .right-side {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #aaa;
  position: absolute;
  padding: 5px 12px;
  border-radius: 50%;
  margin: 10px;
  z-index: 1;
  margin-top: 49vh;
}


.slider .left-side:hover, .slider .right-side:hover {
  background-color: #bcb;
}

.right-side {
  right: 0px;
}

.slider-shadow {
  background-color: rgba(33,17,17, .49);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-items {
  width: 400px;
  margin-left: 18%;
  z-index: 2;
  height: 50%;
  color: rgba(244,244,244, .9);
  letter-spacing: 0.7px;
}

.slider-items .profile-pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-position: 20% 30%;
  background-size: 100%;
}

.slider-items h1 {
  margin-top: 8%;
}

.slider-items h3 {
  margin-top: 8%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  padding-bottom: 10px;
}

.slider-items p {
  margin-top: 8%;
}

.slider-items .social {
  margin-top: 8%;

}

.slider-items .social img {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 50%;
  margin: 0 7px;
}

.social a:hover {
  opacity: 0.8;
}


/*-------------------------------page 4 (portfolio)-------------------------*/

.portfolio {
  min-height: 100vh;
  height: auto;
}

.portfolio-header {
  margin-top: 50px;
  text-align: center;
}

.portfolio-header h1 {
  font-size: 44px;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.portfolio-header p {
  color: #a4a4a4;
  letter-spacing: 0.8px;
  font-size: 16px;
  display: inline-block;
  padding: 0 10% 15px;
  border-bottom: 1px solid rgba(180,230,205, .6);
  margin: 0 auto;
  margin-top: 20px;
}

.portfolio-menu {
  width: 70%;
  text-shadow: 0.5px 0 #a89;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}


.portfolio-menu li {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 18px;
  font-size: 19px;
}

.portfolio-menu li a {
  color: #838383;
}

.portfolio-menu li a:hover {
  color: #000;
}

.koral {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #eee;
  height: calc(100vh - 200px);
}


.koral-pack {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 4vw;
  height: 100%;
}

.koral-container {
  width: 58%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*min-height: 450px;*/
}

.koral-img {
  border-right: 2px solid #988788;
  height: calc(100vh - 200px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("../img/iPhone.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 450px;
}

.koral-img img {
  height: 100%;
  width: 100%;
  min-height: 390px
}

.koral .logo img {
  padding: 7px;
  display: inline-block;
  border: 2px solid #656565;
}


.koral .logo {
  padding: 25px 28px;
  display: inline-block;
  border: 1px solid rgba(111,111,111, .4);
  border-radius: 25px;
}


.koral-container h1 {
  text-transform: capitalize;
}

.koral-container p {
  letter-spacing: 0.4px;
  line-height: 18px;
  opacity: 0.8;
}

.koral-container .case-study {
  text-transform: uppercase;
}

.case-study {
  font-weight: bold;
  padding: 22px 43px;
  border-radius: 30px;
  border: 1px solid #adb2bd;
  display: inline-block;
}

.case-study:hover {
  background-color: #ddd;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.slider-arrows img:first-child{
  margin-right: 10px;
}

.slider-arrows img {
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.slider-arrows img:hover {
  background-color: #eee;
}

/*------------------------------careers---------------------------*/

.career {
  min-height: 100vh;
  background: rgb(183,176,163); /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(183,176,163,1) 0%,rgba(141,144,183,1) 9%,rgba(97,153,199,1) 26%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 64%,rgba(61,191,158,1) 81%,rgba(61,191,158,1) 87%,rgba(61,191,158,1) 87%,rgba(54,196,191,1) 98%,rgba(54,196,191,1) 98%,rgba(61,191,158,1) 100%,rgba(58,139,194,1) 100%,rgba(64,214,201,1) 100%,rgba(61,191,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, rgba(183,176,163,1) 0%,rgba(141,144,183,1) 9%,rgba(97,153,199,1) 26%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 64%,rgba(61,191,158,1) 81%,rgba(61,191,158,1) 87%,rgba(61,191,158,1) 87%,rgba(54,196,191,1) 98%,rgba(54,196,191,1) 98%,rgba(61,191,158,1) 100%,rgba(58,139,194,1) 100%,rgba(64,214,201,1) 100%,rgba(61,191,158,1) 100%);
  background: linear-gradient(135deg, rgba(183,176,163,1) 0%,rgba(141,144,183,1) 9%,rgba(97,153,199,1) 26%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 64%,rgba(61,191,158,1) 81%,rgba(61,191,158,1) 87%,rgba(61,191,158,1) 87%,rgba(54,196,191,1) 98%,rgba(54,196,191,1) 98%,rgba(61,191,158,1) 100%,rgba(58,139,194,1) 100%,rgba(64,214,201,1) 100%,rgba(61,191,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b0a3', endColorstr='#3dbf9e',GradientType=1 );
  color: #eee;
}

.career-header {
  text-align: center;
  padding-top: 100px;
}

.career-header h4{
  padding: 30px;
  display: inline-block;
  border-bottom: 1px solid rgba(211,222,233, .4);
}

.work-positions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;

}

.available, .positions {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}

.work-positions p {
  letter-spacing: 0.5px;
}

.available p {
  width: 60%;
  margin-top: 20px;
  line-height: 20px;
  opacity: .7;
}

.view-jobs {
  margin-top: 50px;
  font-size: 13px;
  height: 64px;
  width: 190px;
  display: inline-block;
  border: 1px solid #cde;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}

.view-jobs:hover {
  background-color: #41aed6;
}

.view-jobs span {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #eee;
}

.position-section {
  margin-bottom: 20px;
}

.work-positions h2 {
  letter-spacing: 0.7px;
  text-transform: capitalize;
}

.work-positions h2 span {
  margin-left: 5px;
  font-size: 22px;
}

.position-section p {
  margin-top: 20px;
  line-height: 20px;
  opacity: .7;
}

/*-------------------------blog------------------------------*/

.blog {
  background-color: #f7f7f7;
  min-height: 100vh;

}

.blog-header {
  padding-top: 100px;
  text-align: center;
}

.blog-header h1 {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: bold;
}

.blog-header h4 {
  padding: 30px;
  padding-bottom: 20px;
  opacity: 0.8;
  display: inline-block;
  border-bottom: 1px solid rgba(211,222,233, .4);
}

.blog-body {
  /*height: 62vh;*/
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
}

.blog-content {
  width: 65.9%;
  display: inline-block;
  height: 62vh;
  border-radius: 10px;
  overflow: hidden;
}

.blog-img {
  height: 100%;
  width: 59%;
  float: left;
  background-image: url("../img/office-coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.blog-post {
  display: inline-block;
  width: 41%;
  background-color: #fff;
  height: 100%;
  position: relative;
}

.blog-post h3 {
  margin: 20px 20px 0 20px;
  letter-spacing: 0.8px;
}

.post-info {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post-user-img {
  display: inline-block;
}

.post-user-img img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.post-date {
  opacity: 0.8;
  text-shadow: 0.6px 0 #aaa;
}

.blog-calendar {
  border-radius: 10px;
  overflow: hidden;
  float: right;
  width: 33%;
  height: 62vh;
  background-color: #fff;
  position: relative;
  min-height: 220px;
}

.calendar-img {
  width: 100%;
}

.calendar-post-user {
  width: 100%;
  height: auto;
  bottom: 0px;
}

.blog-calendar h4 {
  margin: 25px;
  letter-spacing: 0.7px;
  font-size: 22px;
}

/*--------------------------------footer------------------------------------*/

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer-social a {
  height: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-social a:hover {
  background-color: #efe;
}

.footer-social div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social div img {
  height: 30px;
  width: 30px;
}

.footer-content {
  min-height: 400px;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  letter-spacing: 0.7px;
}

.footer-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.footer-logo .inner {
  height: 35px;
  width: 35px;
  border: 7px solid #ccc;
  border-radius: 50%;
}

.footer-logo .outer {
  padding: 3px;
  border: 3px solid #ccc;
  border-radius: 50%;
  display: inline-block;
}

.footer-company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-content h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}


.footer-content li {
  margin: 10px 0;
}

.footer-content a {
  color: #111;
  opacity: 0.7;
  text-shadow: 0.2px 0 #999;
}

.footer-content a:hover {
  color: #000;
  opacity: 1;
  text-shadow: 0.3px 0 #000;
}

.footer-support {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-subscribe {
  min-width: 210px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.subscribe-section {
  width: 60%;
  float: right;
  position: relative;
  margin-right: 30px;
}

.subscribe-section p {
  line-height: 21px;
  margin-bottom: 20px;
  opacity: 0.8;
}


.subscribe-section input {
  width: 80%;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  background-size: cover;
  border-width: 1px;
}

.mail-subscribe img {
  height: 25px;
  background-color: #3591ea;
    position: absolute;
    bottom: 7px;
    right: 24%;
    cursor: pointer;
}

.mail-subscribe img:hover {
  background-color: #46e8b9;
}


@media screen and (max-width: 991px) {

  /*----------------------------- page 1----------------*/

    .menu ul {
      /*display: none;*/
      background: -webkit-linear-gradient(top,rgba(43,56,76, .5),rgba(43,56,76, .62),rgba(43,56,76, .74),rgba(43,56,76, .86),rgba(43,56,76, .98));
      background: -webkit-linear-gradient(top, rgba(43,56,76, .5),rgba(43,56,76, .62),rgba(43,56,76, .74),rgba(43,56,76, .86),rgba(43,56,76, .98));
      background: linear-gradient(to bottom, rgba(43,56,76, .5),rgba(43,56,76, .62),rgba(43,56,76, .74),rgba(43,56,76, .86),rgba(43,56,76, .98));
      margin: 0 auto;
      display: none;
      height: 240px;
      width: 0%;
    }
    .toggle-button {
      display: block;
      position: absolute;
      right: 0px;
      z-index: 2;
    }
    .container {
      width: 89%;
    }

    .menu {
      margin-left: 0px;
      width: 100%;
      margin-top: 150px;
      position: absolute;
    }

    .menu li {

      -webkit-transition: all 800ms ease-in-out;
      transition: all 800ms ease-in-out;
      display: block;
      opacity: 0;
      margin-left: 0px;
      text-align: center;
      padding: 8px 0;
      font-size: 16px;
      letter-spacing: 1px;

    }

    .menu ul li:last-child{
      margin: 0 auto;
      margin-bottom: 10px;
    }


/*--------------about (2nd page)-------------*/

.stellar-skills h2 {
  font-size: 26px;
}

/*---------------slider-----------------------*/
  .slider-items {
    height: 60%;
  }

  .slider-items .profile-pic {
      height: 90px;
      width: 90px;
  }

  .slider-items h1 {
      margin-top: 5%;
      font-size: 33px;
  }

  .slider-items h3 {
      margin-top: 5%;
      font-size: 22px;
      padding-bottom: 8px;
  }

  .slider-items p {
      margin-top: 5%;
  }

  .slider-items .social {
      margin-top: 5%;
  }

  /* --------------portfolio----------------------*/
  .koral .logo img {
    padding: 6px;
    height: 40px;
  }

  .koral .logo {
    padding: 15px 19px;
    border-radius: 19px;
  }

  .koral-container h1 {
    font-size: 30px;
  }

  .case-study {
    font-weight: bold;
    padding: 18px 29px;
    border-radius: 25px;
    border: 1px solid #adb2bd;
    display: inline-block;
  }

  /*---------------career---------------*/

  .work-positions h2 {
    font-size: 27px;
  }

  .available p {
    width: 90%;
  }

  /*---------------blog-----------------*/
  .blog {
    padding-bottom: 20px;
  }

  .blog-content {
    width: 100%;
    height: 50vh;
  }

  .blog-img {
    width: calc(100% - 250px);
  }

  .blog-post {
    width: 250px;
  }

  .blog-calendar {
    width: 100%;
    float: none;
    margin-top: 20px;
    height: auto;
  }

  .calendar-img {
      width: calc(100% - 250px);
  }

  .calendar-post-user {
      width: 250px;
      height: auto;
      float: right;

  }

  .calendar-post-user .post-info {
    width: 41%;
  }

  /*---------------footer--------------*/
  .subscribe-section input{
    font-size: 15px;
  }

  .footer-company {
    margin-right: 20px;
  }

  .footer-social a {
      height: 80px;
  }

  .footer-social div img {
      height: 28px;
      width: 28px;
  }

  .mail-subscribe img {
    height: 39px;
      bottom: 1px;
      right: -14px;
      padding: 4px;

  }

}


@media screen and (max-width: 800px) {
  .subscribe-section {
    width: 70%;
  }

}

@media screen and (max-width: 680px) {
  .footer-subscribe {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .calendar-img {
    width: 100%;
  }

  .calendar-post-user {
    float: left;
    width: 100%;
    position: relative;
  }

  .calendar-post-user h4 {
    width: 60%;
  }

  .glyphicon-menu-right {
    display: none;
  }


  .calendar-post-user .post-info {
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: 100%;
    bottom: 0px;
    right: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 580px) {

  /*--------------------careeer------------*/
  .available, .positions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 205px;
  }

  .positions {
    margin-top: 35px;
  }

  .available p {
    width: 100%;
  }

  .work-positions h2 {
    text-align: center;
  }

  /*---------------blog--------------*/
  .blog-content {
    height: auto;
  }

  .blog-img {
    width: 100%;
    height: 65vw;
  }

  .blog-post {
    width: 100%;
  }

  .blog-post h3 {
    width: 65%;
  }

  .blog-post .post-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0px;
    right: 20px;
    height: 100%;
    width: auto;
  }

  .koral-img {
    border-right: none;
    border-bottom: 1px solid #aaa;
  }

  .koral-img, .koral-pack {
    min-width: 282px;
  }

  .koral-pack {
    height: 90vw;
    min-height: 450px;
  }

  .koral-container {
    width: 90%;
  }

  .footer-content {
    width: 83%;
  }

  .blog-body {
    width: 90%;
  }

}


@media screen and (max-width: 580px) {
  .watch-video {
    margin-left: -10px;
  }

  .slider-items {
    height: 100%;
    margin-left: 0px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile-pic {
    margin-top: 50px;
  }

  .slider-items h3 {
    text-align: center;
      border: none;
  }

  .slider-items p {
    margin-top: 150px;
    width: 90%;
    line-height: 17px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(90,90,90, 0.2);
    text-align: center;
  }


}


@media screen and (max-width: 504px) {
  .watch-video {
    margin-top: 15px;
  }
}
