.search {
	height: 460px;
	background-image: url("../Images/stadium.png");
	background-repeat: no-repeat;
	background-position:bottom;
}

.find {
	margin: 0 auto;
	height: 110px;
	background-color:rgba(0,0,0,0.8);
	position: relative;
	top: 264px;
	border-radius: 9px;
}

.find input {
	width: 73%;
	height: 71px;
	margin-top: 20px;
	margin-right: 3.1%;
	font-size: 30px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-style: none;
	background-image: url("../Images/search.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 60px;
	text-indent: 7%;
	color: #959595;
}

.find button {
	font-size: 30px;
	color :#fff;
	border-style: groove;
	vertical-align: top;
	height: 71px;
	width: 20%;
	margin-top: 20px;
	background-color: #008d00;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.find button:active {
	background-color: #46a34a;	
}

.find button:hover {
	cursor:pointer;